<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>mes chouilles</title>
    <th:block th:insert="~{fragments/header :: link}"></th:block>
    <link th:href="@{/styles/profil.css}" rel="stylesheet" />
</head>
<body>

<div th:replace="~{fragments/header :: header1(${person.id_Person})}"></div>
<input type="hidden" id="chouille_selected">
<main>
    <section>
        <h2>Mes chouilles en cours de préparation</h2>
        <div class="grid-3">

        <article  th:if="${!chouilles.isEmpty()}" th:each="chouille, state : ${chouilles}">
            <div style="display:none" th:id="modal_update_chouille_+${state.index}" class="background-modal" th:insert="~{fragments/update_chouille :: update_chouille(${chouille}, ${locations})}"></div>
            <div style="display:none" th:id="modal_update_guests_+${state.index}" class="background-modal" th:insert="~{fragments/update_guest :: update_guest(${chouille}, ${chouille.guests})}"></div>
            <p>Thème : <span th:text="${chouille.thematic}"></span></p>
            <p>Date : <span th:text="${chouille.date}"></span></p>
            <p>Lieu :  <span th:text="${chouille.location.adress}"></span></p>
            <p>Places max : <span  th:text="${chouille.location.max_Pers}"></span></p>
            <button class="update_chouille" th:data-value="${state.index}">Modifier</button>
            <button><a th:href="${'/stock/' + {person.id_Person} + '/' + {chouille.id_Chouille}}">Gérer mon stock</a></button>
            <button class="update_guests" th:data-value="${state.index}">Gérer les invités</button>
        </article>
        </div>
        <p th:if="${chouilles.isEmpty()}">Aucune chouille de prévue pour le moment.</p>
    </section>
    <section>
        <h2>Créer une Chouille</h2>
        <form class="form-add-chouille" action="#"
            th:action="@{/chouille/create/{id}(id=${person?.id_Person})}"
            th:method="post">
            <div>
                <label for="thematic">Thème : </label>
                <input id="thematic" type="text" placeholder="Anniversaire" th:name="thematic" th:value="${newChouille.thematic}" />
            </div>
            <div>
                <label for="date">Date : </label>
                <input id="date" type="date"  th:name="date" th:value="${newChouille.date}" />
            </div>
            <div>
                <label for="address">Lieu : </label>
                <select name="address" id="address" th:name="location" th:value="${newChouille.location}">
                    <th:block th:if="${!locations.isEmpty()}" th:each="loc,state : ${locations}">
                        <option th:value="${loc.id_Location}" th:text="${loc.adress}"></option>
                    </th:block>
                </select>
            </div>
            <input type="submit" value="Créer" />
        </form>
    </section>
</main>
</body>
</html>
<script type="text/javascript">
    let buttons_open_modal_update_chouille = document.querySelectorAll(".update_chouille")
    for(let i=0;i < buttons_open_modal_update_chouille.length; i++){
        buttons_open_modal_update_chouille[i].addEventListener('click', (e)=>{
            let index = e.target.getAttribute('data-value')
            let modal = document.querySelector("#modal_update_chouille_"+index)
            console.log("index, modal", index, modal)
            modal.style.display = 'block'

            let button_close_modal = document.querySelector("#modal_update_chouille_"+index+" .close-modal-chouille")
            button_close_modal.addEventListener('click', ()=>{
                modal.style.display = 'none'
            })
        })
    }

    let buttons_open_modal_update_guests = document.querySelectorAll(".update_guests")
    for(let i=0;i < buttons_open_modal_update_guests.length; i++){
        buttons_open_modal_update_guests[i].addEventListener('click', (e)=>{
            let index = e.target.getAttribute('data-value')
            let modal = document.querySelector("#modal_update_guests_"+index)
            console.log("index, modal", index, modal)
            modal.style.display = 'block'

            let button_close_modal = document.querySelector("#modal_update_guests_"+index+" .close-modal-guest")
            button_close_modal.addEventListener('click', ()=>{
                modal.style.display = 'none'
            })
        })
    }

    function copy() {
      let copyText = document.querySelector("#code-copied");
      copyText.select();
      document.execCommand("copy");
    }

    let allCopy = document.querySelectorAll("#copy_code")
    for(let i = 0;i < allCopy.length;i++){
        allCopy[i].addEventListener("click", (e)=>{

            let idParent = e.target.parentElement.parentElement.parentElement.id
            let input = document.querySelector("#"+idParent+" #code-copied");
            input.addEventListener('keydown', (e)=>{e.preventDefault()})
            input.select();
            document.execCommand("copy");
        })
    }

</script>