<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ajouter un lieu</title>
</head>
<body>
<div class="modal" th:fragment="add_location(id_person)">
    <p class="close-modal">X</p>
    <h2>Ajout Lieu de Chouille</h2>
    <form action="#"
        th:action="@{/location/create/{id}(id=${person.Id_Person})}"
        th:method="post" >
        <div>
            <label for="address">Adresse :</label>
            <input id="address" type="text" placeholder="7, rue de la soif"
               th:name="adress" />
        </div>
        <div>
            <label for="nbmax">Nombre de personnes maximal :</label>
            <input id="nbmax" type="number"
                   th:name="max_Pers" />
        </div>
        <input type="submit" value="Ajouter" />
    </form>
</div>
</body>
</html>