<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ajouter une chouille</title>
</head>
<body>
<div th:fragment="addchouille(id_person)">
    <h2>Ajout Lieu de Chouille</h2>
    <form action="#"
        th:action="@{/chouille/create/{id}(id=${person.Id_Person})}"
        th:method="post"
        th:object="${chouille}" >
        <div>
            <label for="address">Adresse :</label>
            <input id="address" type="text" placeholder="7, rue de la soif"
               th:field="*{Adress}" />
        </div>
        <div>
            <label for="nbmax">Nombre de personnes maximal :</label>
            <input id="nbmax" type="number"
                   th:field="*{Max_Pers}" />
        </div>
        <input type="submit" value="Ajouter" />
    </form>
</div>
</body>
</html>