<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>header</title>
    <link th:href="@{/styles/header.css}" rel="stylesheet" />
</head>
<body>
    <header th:fragment="header1">
        <div>
            <h1>Chouille Planner</h1>
        </div>
        <nav>
            <ul>
                <li><a th:href="@{/profil}">Mon Profil</a></li>
                <li>Chouilles
                    <ul>
                        <li><a th:href="@{/chouilles/mine}">Mes miennes</a></li>
                        <li><a th:href="@{/chouilles/other}">On m'invite</a></li>
                    </ul>
                </li>
                <li><a>Me déconnecter</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>