<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>modifier une chouille</title>
</head>
<body>
<div class="modal" th:fragment="update_chouille(chouille, locations)">
    <p class="close-modal close-modal-chouille">X</p>
    <h2>Modification</h2>
    <p class="warning">* La modification enverra une notification à tous les invités.</p>
    <form action="#"
          th:action="@{/chouille/update/{id}(id=${chouille.id_Chouille})}"
          th:method="post" >
        <div>
            <label for="thematic">Thème : </label>
            <input id="thematic" type="text" placeholder="Anniversaire" th:name="thematic" th:value="${chouille.thematic}" />
        </div>
        <div>
            <label for="date">Date : </label>
            <input id="date" type="date"  th:name="date" th:value="${chouille.date}" />
        </div>
        <div>
            <label for="address">Lieu : </label>
            <select name="address" id="address" th:name="location" th:value="${chouille.location}">
                <th:block th:if="${!locations.isEmpty()}" th:each="loc : ${locations}">
                    <option th:value="${loc.id_Location}" th:text="${loc.adress}"></option>
                </th:block>
            </select>
        </div>
        <input type="submit" value="Modifier" />
    </form>
</div>
</body>
</html>