<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>mes invités</title>
</head>
<body>
<div class="modal" th:fragment="update_guest(chouille, guests)">
    <p class="close-modal-guest close-modal">X</p>
    <h2>Mes invités</h2>
    <th:block th:if="${!guests.isEmpty()}" th:each="guest,state : ${guests}">
        <div class="flex-row">
            <p th:text="${guest.username}"></p>
            <button class="delete delete-guest" ><a th:href="@{/chouille/deleteguest/{id}/{id2}(id=${chouille.id_Chouille}, id2=${guest.id_Person})}">Supprimer</a></button><!--TODO : add tooltip-->
        </div>
    </th:block>
    <div class="flex-row">
        <p>Id Secret : <input type="text" th:value="${chouille.code}" id="code-copied"></p>
        <button id="copy_code">Copier l'ID</button>
    </div>
    <p>Places restantes : <span th:text="${chouille.location.max_Pers - chouille.guests.size()}"></span></p>


</div>
</body>
</html>
